data/classSchedule.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : classSchedule.dtd
    Created on : March 03, 2016, 11:18 PM
    Author     : Khang Tran
    Description:
        This is the core structure of our winter 2016 
        timetable 
-->


<!-- The root element contains a week element, and then multiple source elements,
each of which models data from a specific course.
 -->
<!ELEMENT schedule (week,source+)>

<!-- The week element gives us the current week of schedule 
-->
<!ELEMENT week (#PCDATA)>

<!-- The source element contains a courseID element -->
<!ELEMENT source (course)>

<!-- The course element contains a courseID, className, and classLocation
elements
-->
<!ELEMENT course (courseID, className, classLocation)>

<!ELEMENT courseID (#PCDATA)>
<!ELEMENT className (#PCDATA)>
<!ELEMENT classLocation (#PCDATA)>

 





 

