data/classSchedule.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : classSchedule.dtd
    Created on : March 03, 2016, 11:18 PM
    Author     : Khang Tran
    Description:
        This is the core structure of our winter 2016 
        timetable 
-->


<!-- The root element contains a week element, and then multiple source elements,
each of which models data from a specific course.
 -->
<!ELEMENT schedule (semester,source+)>

<!-- The semester element gives us the current week of schedule 
-->
<!ELEMENT semester (#PCDATA)>

<!-- The source element contains a courseID element -->
<!ELEMENT source (course)>

<!-- The course element contains a courseID, className, and classLocation
elements
-->
<!ELEMENT course (day, time, courseID, className, classLocation, classActivity)>

<!ELEMENT day (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT courseID (#PCDATA)>
<!ELEMENT className (#PCDATA)>
<!ELEMENT classLocation (#PCDATA)>
<!ELEMENT classActivity (#PCDATA)>

<!ATTLIST course
    class (1|2|3|4|5|6) #REQUIRED
>







 

